.body {
  text-transform: uppercase;
}

.learn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.how-to-play-jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
