body{
    background-image: url(/static/images/faunaSnapshotBackground.jpg);
    background-size: cover;
}

.cursor{
    position: absolute;
    cursor: none;
}
  
.camera-size{
    height: 128px;
    width: 150px;
}
