body{
  background-image: url(/static/images/faunaSnapshotBackground.jpg);
  background-size: cover;
  text-transform: uppercase;
}

.project-text {
  width: auto;
  font-weight: 800;
  color: white;
  font-family: 'Margarine', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-nav {
  background-color: rgb(0, 0, 0);
}

.menu-box{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 20%;
}

.btn-play{
  position: relative;
  width: 100%;
  background: linear-gradient(89.68deg, rgba(255, 255, 255, 0.28) 0.12%, rgba(255, 255, 255, 0.19) 21.88%, rgba(255, 255, 255, 0.37) 49.67%, rgba(255, 255, 255, 0.21) 72.54%, rgba(255, 255, 255, 0.36) 99.72%);
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.43);
  border-radius: 13px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Margarine', cursive;
  letter-spacing: 0.25rem;
}

.how-to-play-main{
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.how-to-play-secondary{
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.btn-play:hover{
  background-color: rgba(255, 255, 255, 0.28);
}

.card-bg{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.43);
}

.card-border{
  border-radius: 10%;
}

.img-level{
  height: 50%;
}

.justify-card-text{
  text-align: justify;
}

.btn-decoration{
  background-color:rgb(35, 160, 56);
  border-color:rgb(35, 160, 56);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.btn-decoration:hover{
  background-color:rgb(32, 110, 45);
  border-color:rgb(35, 160, 56);
}

.btn-decoration:focus{
  background-color:rgb(35, 160, 56);
  border-color:rgb(35, 160, 56);
}

.animal-jumbotron{
  background-color: rgba(245, 245, 220, 0);
  color: white;
  padding: 0;
  margin-bottom: 0;
}

.btn-animal{
  width: 250px;
}

.list-style{
  list-style: none;
}

li{
  display: flex;
  justify-content: center;
  
}

.score-text{
  line-height: 0;
  margin-top: 25px;
  
}

.btn-sound{
  width: 83px;
  height: 65px;
}

.final-result{
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: rgba(128, 128, 128, 0.685);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.43);
}

.btn-exit{
  width: 100px;
}

.how-to-play{
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: rgba(119, 0, 255, 0.685);
  padding: 16px;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.43);
}
